/* color palette from <https://github.com/vuejs/theme> */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://unpkg.com/vue-next-select/dist/index.min.css");

:root {

  --grey-light: #E5E9EF;
  --grey-middle: #D5DCE5;
  --grey-dark-1: #b3b3b3;
  --grey-dark-2: #71747c;
  --grey-dark-3: #7D8CA1;
  
  --blue: #7CABE3;
  --white: #ffffff;

  --ms-max-height: 6rem;
}

/* semantic color variables for this project */
:root {
  --color-background-bottom: var(--grey-light);
  --color-background-middle: var(--grey-middle);
  --color-background-top: var(--white);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-bottom);
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Inter';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
